@font-face {
    font-family: 'NotoSans-Light';
    src: url('../webfonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans-ExtraLight';
    src: url('../webfonts/NotoSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url('../webfonts/NotoSans-Medium.ttf') format('truetype');
} 

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../webfonts/NotoSans-Bold.ttf') format('truetype');
} 

@font-face {
    font-family: 'NotoSans-SemiBold';
    src: url('../webfonts/NotoSans-SemiBold.ttf') format('truetype');
} 

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../webfonts/NotoSans-Regular.ttf') format('truetype');
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'NotoSans-Light';
    background-color: #1A7FBD;
}

.container-full-width {
    width:100%;
}

.container-width {
    width:1100px;
    margin: 0 auto;
}

.bg-black {
    background-color: #000;
}

.bg-blue {
    background-color: #1A7FBD;
}

.bg-white {
    background-color: #FFF;
}

.bg-gray {
    background-color: #F9F9F9;
}

.nav-container {
    width: 800px;
    margin: 0 auto 18px auto;
}

nav .logo {
    width: 110px;
    height: 24px;
    margin-top: 25px;
}

.navbar {
    margin: 20px 50px 0 0;
    font-family: 'NotoSans-Light';
    float: right;
}

.navbar li {
    margin-right: 34px;
    list-style-type: none;
    display: inline-block;
}

.navbar li a:hover {
    color: #CECECE;
}

.navbar li a {
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
    
}

nav {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, transparent, rgba(255, 255,255, 0.7), transparent);
    border-image-slice: 1;
}

nav button {
    margin-right: 10px;
    margin-top: 13px;
    padding: 8px 20px;
    font-size: 14px;
    background-color: #000;
    float: right;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 4px;
}

nav button:hover {
    color: #CECECE;
    cursor: pointer;
}

hr {
    margin-top: 20px;
    margin-left: 30px;
}

.background-header {
    height: 850px;
    background-image: url('../assets_netuno/bannertopo.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-position-x: -170px;
    background-position-y: -20px;
}

.header-container-form {
    width: 350px;
    height: 600px;
    margin: 80px 140px 80px 95px;
    background-color: #FFF;
    float: right;
    border-radius: 5px;
    position: center;
    border: 1px #A4DCFF solid;
}

.header-container-registration {
    width: 350px;
    height: 187px;
    display: block;
}

.header-container-registration h3 {
    font-family: 'NotoSans-Regular';
    font-size: 18px;
    color: #CECECE; 
    letter-spacing: 1px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 0;
}

.header-container-registration p {
    font-family: 'NotoSans-Bold';
    font-size: 12px;
    color: #1A7FBD;
    margin-left: 35px;
    display: block;
    margin-top: 10px;
}

.custom-field {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 30px;
    font-family: 'NotoSans-Medium';
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #FFF;
    background-position-x: 5px;
    text-decoration: none;
    text-align: left;
    color: #1A7FBD;
    border-radius: 4px;
    border: 1px #CECECE solid;
}

.custom-text-field {
    width: 265px;
}

.custom-select-field {
    width: 303px;
}

input[name="nome_completo"] {
    background-image: url('../assets_netuno/icons/user.png');
    background-size: 13px 15px;
}

input[name="email"] {
    background-image: url('../assets_netuno/icons/mail.png');
    background-size: 14px 12px;
}

select[name="estado"] {
    background-image: url('../assets_netuno/icons/state.png');
    background-size: 13px 13px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder { 
    color: #CECECE;
}

select[name="estado"] option:disabled {
    color: #CECECE;
}

.header-container-computer-programming {
    width: 350px;
    height: 150px;
    display: block;
    padding: 0px;
    font-family: 'NotoSans-Light';
    font-size: 14px;
    background-color: #1A7FBD;
    color: #FFF;
}

.header-container-computer-programming p {
    font-size: 12px;
    color: #FFF;
    margin-left: 35px;
    margin-bottom: 0;
    padding-top: 20px;
    font-family: 'NotoSans-Bold';
}

.checkbox-container {
    width: 315px;
    margin-left: 35px;
   margin-top: 10px;
}

input[type="checkbox"] {
    width: 9px;
    height: 9px;
    outline: 2px solid #FFF;
    outline-offset: 2px;
    appearance: none;
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    accent-color: #FFF;
    background-color: #FFF;
}

label {
    margin-right: 7px;
    font-family: 'NotoSans-Light';
    font-size: 12px;
    display: inline-block;
    text-align: left;
    margin-left: 5px;
    vertical-align: middle;
    padding-bottom: 7px;
    margin-top: 3px;
    margin-bottom: 6px;
}

.text-dev {
    font-family: 'NotoSans-Bold';
    font-size: 12px;
    color: #1A7FBD;
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 0;
}

.text-field {
    font-family: 'NotoSans-Bold';
    font-size: 8px;
    color: #1A7FBD;
    text-align: center;
}

.header-container-development input[type="submit"] {
    width: 330px;
    margin-left: 10px;
    margin-top: 13px;
    padding: 12px 0;
    font-size: 14px;
    background-color: #1A7FBD;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 4px;
    border: none;
}

.header-container-development input[type="submit"]:hover {
    cursor: pointer;
}

.text-terms {
    font-family: 'NotoSans-Bold';
    font-size: 8px;
    color: #CECECE;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.text-terms a {
    color: #1A7FBD;
    text-decoration: none;
}
.text-terms a:hover {
    color: #1A7FBD;
    text-decoration: underline;
}

.header-container-development hr {
    background: #CECECE;
    width: 310px;
    height: 1px;
    border: 0px;
    margin: 0;
    margin-left: 20px;
}

input[type="radio"] {
    width: 9px;
    height: 9px;
    outline: 2px solid #1A7FBD;
    outline-offset: 2px;
    appearance: none;
    border-radius: 1px;
    display: inline-block;
    margin-left: 35px;
}

input[type="radio"]:checked {
    accent-color: #1A7FBD;
    background-color: #1A7FBD;
}

.header-container-development label {
    font-family: 'NotoSans-Medium';
    color: #CECECE;
    padding-top: 8px;
}

.background-project {
    height: 500px;
    background-image: url('../assets_netuno/dev.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -20px;
    background-position-y: -20px;
}

.container-project {
    clear: both;
}

.container-texto-project {
    width: 340px;
    margin-right: 150px;
    margin-top: 30px;
    font-family: 'NotoSans-Light';
    font-size: 13px;
    float: right;
    color: #FFF;
}

.container-texto-project h1 {
    font-size: 30px;
    color: #A4DCFF;
    font-family: 'NotoSans-Medium';
}

.NotoSans-Bold {
    font-family: 'NotoSans-Bold';
    font-size: 12px;
}

.background-problem {
    background-image: url('../assets_netuno/container2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 150px;
    background-position-x: 140px;
}

.container-text-problem {
    margin-right: 150px;
    margin-top: 70px;
    float: right;
    font-family: 'NotoSans-Regular';
    font-size: 13px;
    color: #000;
    width: 340px;

}
.container-text-problem h2 {
    font-size: 30px;
    font-family: 'NotoSans-Medium';
    background: -webkit-linear-gradient(0.90turn, #1A7FBD, #A4DCFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-text-problem hr{
    background: #CECECE;
    height: 1px;
    border: 0px;
    margin: 0;
}

.NotoSans-Bold-Black {
    font-family: 'NotoSans-Bold';
    font-size: 12.5px;
    text-align: left;
}

.NotoSans-Bold-Big {
    font-family: 'NotoSans-Bold';
    font-size: 16px;
}

.boxes-container {
    margin: 0 auto;
    width: 825px;
    height: 500px;
    clear: both;
    transform:translateY(90px);
}

.box-item {
    width: 198px;
    height: 120px;
    margin: 0px 5px 0 0;
    padding: 35px;
    background-color: #FFF;
    float: left;
    border-radius: 12px;
}

.text-boxes {
    text-align: center;
    font-family: 'NotoSans-Medium';
    font-size: 12px;
    margin-bottom: 0px;
}

.box-item h2 {
    font-size: 22px;
    font-family:'NotoSans-Regular';
    color: #000;
    text-align: center;
    margin-top: 0;
}

.box-problem {
    box-shadow: 5px 10px 30px #b4b4b5;
    border: 1px #CECECE solid;
}

.container-journey {
    margin: 0 auto;
    width: 825px;
    height: 800px;
}

.container-journey h2 {
    font-size: 30px;
    font-family: 'NotoSans-Medium';
    background: -webkit-linear-gradient(0.90turn, #1A7FBD, #A4DCFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 200px;
    display: inline-block;
}

.vector2 {
    display: inline-block;
    width: 300px;
    transform: rotate(180deg);
    margin-right: 10px;
}

.vector3 {
    display: inline-block;
    width: 300px;
    margin-left: 10px;
}

.container-journey a {
    width: 330px;
    padding: 17px 20px 17px 25px;
    font-size: 14px;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 7px;
    cursor: pointer;
    margin: 100px auto 15px auto;
    display: block;
    font-weight: bold;
}

.container-journey a:hover {
    cursor: pointer;
}

.container-journey a span {
    color: #1A7FBD;
}

.container-journey a img{
    width: 19px;
    height: auto;
    float: right;
    margin-left: 15px;
}

.container-groupboxes-journey {
    height: 156px;
    margin-top: 30px;
}

.box-journey {
    width: 265px;
    height: 68px;
    margin: 8px 8px 0 0;
    padding: 0px;
    background-color: #1A7FBD;
    border-radius: 12px;
    display: inline-block;
    float: left;
    border: 1px #FFF solid;
    box-shadow: 5px 10px 100px #b4b4b5;;
}

.box-img-journey {
    margin: 10px 0 auto 10px;
    width:50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.box-img-journey img {
    width: 25px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-journey {
    width: 185px;
    margin-top: 8px;
    font-size: 12px;
    font-family: 'NotoSans-Light';
    color: #FFF;
    text-align: left;
    float: right;
    display: inline-block;
}

.vector1 {
    float: right;
    margin-right: 290px;
}

.container-objective {
    margin: 0 auto;
    width: 825px;
    height: 400px;
    clear: both;
}

.container-text-objective h2 {
    color: #FFFFFF;
    text-align: center;
    font-family:'NotoSans-Medium';
    font-size: 30px;
    margin: 50px 0 30px 0;
}

.box-objective {
    box-shadow: 5px 10px 30px #003556;
    border: 1px #A4DCFF solid;
}

.container-footer {
    margin: 0 auto;
    padding: 70px 0;
    width: 760px;
    height: 120px;
}

footer .logo-slogan {
    width: 150px;
    height: auto;
}

footer button {
    padding: 8px 20px;
    font-size: 14px;
    background-color: #FFF;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    border: 1px #1A7FBD solid;
    float: right;
}

footer button:hover {
    color: #FFF;
    background-color: #1A7FBD;
    cursor: pointer;
}

.icons-footer {
    padding: 0;
    margin: 10px 0;
}

.icons-footer li {
    margin-left: 0;
    margin-right: 5px;
    list-style-type: none;
    display: inline-block;
}
.icons-footer li a:hover {
    cursor: pointer;
}

.icons-footer li a img {
    width: 20px;
    height: 20px;
}

.text-footer {
    color: #C3C3C3;
    font-family: 'NotoSans-Light';
    font-size: 8px;
}

.list-footer {
    margin-top: 0;
    display: list-item;
    color: #FFF;
    list-style-type: none;
    border-right: 2px #424242 solid;
    text-align: left;
    font-family: 'NotoSans-Light';
}

.list-footer li a {
    text-decoration: none;
    margin-bottom: 10px;
    color:#FFF;
    display: block;
}

.list-footer li a:hover {
    text-decoration: underline;
}

.container-itens {
    display: inline-block;
    width: 50%;
}

.container-footer div {
    float: left;
}

.container-footer div:nth-child(1) {
    width: 190px;
    background-color: #000;
}

.container-footer div:nth-child(2) {
    width: 190px;
    background-color: #000;
}

.container-footer div:nth-child(3) {
    width: 190px;
    background-color: #000;
}

.container-footer div:nth-child(4) {
    width: 190px;
    background-color: #000;
    font-family: 'NotoSans-Light';
    color: #FFF;
}

.container-footer div:nth-child(4) a {
    text-decoration: none;
    margin-bottom: 10px;
    color: #FFF;
    padding-left: 55px;
    display: block;
}

.container-footer div:nth-child(4) a:hover{
    text-decoration: underline;
}

.container-footer div:nth-child(4) p {
    padding-left: 55px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}